<!-- About Us Content -->
<div class="container my-5">
    <h1 class="text-center">About Our Company</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non euismod tellus. Aliquam tincidunt, velit non tincidunt dapibus, purus ante sodales mi, quis cursus quam libero eget nulla.
    </p>
    <p>
        Nulla tincidunt mauris id felis pellentesque, a varius massa congue. Fusce bibendum sem at risus vehicula, sit amet auctor quam dictum. Morbi vehicula lacus in pharetra elementum.
    </p>
    <!-- Add more content here to make it lengthy -->
    <!-- Example image -->
    <img src="../../assets/Pics/Transparent logo-01.png" alt="Random Image" class="img-fluid">
    <!-- Repeat content and images as needed -->
</div>
