<nav>
  <div class="logo"><a href="#" routerLink="">Trendflaunt</a></div>
  <div>
    <ul class="nav-links">
      <li>
        <a
          class="button"
          href="#"
          routerLink=""
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          class="button"
          href="#"
          routerLink="/products"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >Products</a
        >
      </li>
      <li>
        <a
          class="button"
          href="#"
          routerLink="/AboutUs"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >About Us</a
        >
      </li>
      <li>
        <a
          class="button"
          href="#"
          routerLink="/ContactUs"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >Contact Us</a
        >
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li><a href=""> Search</a></li>
      <li><a href=""> Login</a></li>
      <li><a href=""> Cart</a></li>
    </ul>
  </div>
</nav>
