<nav>
  <div class="logo"><a routerLink="">Trendflaunt</a></div>
  <div>
    <ul class="nav-links">
      <li>
        <a
          class="button"
          role="presentation"
          routerLink=""
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          class="button"
          role="presentation"
          routerLink="/products"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >Products</a
        >
      </li>
      <li>
        <a
          class="button"
          role="presentation"
          routerLink="/AboutUs"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >About Us</a
        >
      </li>
      <li>
        <a
          class="button"
          role="presentation"
          routerLink="/ContactUs"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >Contact Us</a
        >
      </li>
    </ul>
  </div>
  <div>
    <button style="background-color: transparent; fill: white;" class="material-icons" routerLink="/cart" color="primary"> shopping_cart </button>
  </div>
</nav>
