nav {
    background-color: blueviolet;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color:  white;
    font-family: 'cursive', sans-serif;
    font-size: 32px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}

a:hover, .logo a:hover {
    color: #ff9900;
}
