<div class="container" *ngIf="product">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ product.image }}" class="img-fluid" alt="Product Image" />
    </div>
    <div class="col-md-6">
      <h1>{{ product.title }}</h1>
      <div
        class="star-rating"
        style="display: flex; justify-content: space-between"
      >
        <div>
          <p class="star-rating">{{ product.rating.rate }}</p>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
        </div>
        <div>
          <p>{{ product.rating.count }}</p>
        </div>
      </div>
      <p class="lead">{{ product.description }}</p>
      <h3>Price: ${{ product.price }}</h3>
      <p>Available in various sizes and colors.</p>
      <button mat-flat-button color="primary" (click)="onAdded(product)">
        Add to Cart
      </button>
    <p>{{product.title}}</p>
    </div>
  </div>
</div>
